{
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    },
    "production": {
      "only": [
        "src"
      ],
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ],
      "presets": [
        "es2015",
        "react",
        "stage-0"
      ]
    }
  }
}
