.ReactTable {
    border: none;
}

.ReactTable * {
    border-right: none  !important;
    box-shadow: none    !important;
    font-family: "Roboto";
    font-size: var(--fontSize);
    text-align: left    !important;
}

.ReactTable .rt-th,
.ReactTable .rt-td {
    padding: 12px 0 0 24px;
    height: 42px;
}

.ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td {
    color: var(--blue500);
    font-weight: 500;
}

.ReactTable .rt-thead.-header,
.ReactTable .rt-tbody .rt-tr-group {
    border-bottom: 1px solid var(--grey300);
}

/* Show the arrow up and down after the columns that were being sorted. */
.ReactTable .rt-thead .rt-th.-sort-asc::after,
.ReactTable .rt-thead .rt-td.-sort-asc::after,
.ReactTable .rt-thead .rt-th.-sort-desc::after,
.ReactTable .rt-thead .rt-td.-sort-desc::after {
    font-family: "Material Icons";
    font-size: 12px;
    margin-left: 6px;
}

.ReactTable .rt-thead .rt-th.-sort-asc::after,
.ReactTable .rt-thead .rt-td.-sort-asc::after {
    content: "\E5D8";
}

.ReactTable .rt-thead .rt-th.-sort-desc::after,
.ReactTable .rt-thead .rt-td.-sort-desc::after {
    content: "\E5DB";
}

.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
    background: var(--blue100);
    cursor: pointer;
}

.ht-search:focus {
    border: 1px solid black;
}
